<!DOCTYPE html>


<div class="main">
	<h1>NBA Teams Info</h1>
	<p>Click on each team logo to view Salary, Statistics and Advanced Analytics Information by Team</p>
	<img src="http://img1.wikia.nocookie.net/__cb20131015203103/logopedia/images/d/df/121210092244-nba-logo-wordmark-275-wide.story-top.jpg">
</div>


<table id="t01" style="width:60%" align="center">



<tr>
<div class="team-grid">
	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/220/thumbs/5mdhgjh3aa92kih09pgi.gif"), team_path("1")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/213/thumbs/slhg02hbef3j1ov4lsnwyol5o.gif"), team_path("2")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/3786/thumbs/hsuff5m3dgiv20kovde422r1f.gif"), team_path("3")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/5120/thumbs/512019262015.gif"), team_path("4")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/221/thumbs/hj3gmh82w9hffmeh3fjm5h874.gif"), team_path("5")) %>
	</td>

</tr>

<tr>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/222/thumbs/e4701g88mmn7ehz2baynbs6e0.gif"), team_path("6")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/228/thumbs/ifk08eam05rwxr3yhol3whdcm.gif"), team_path("7")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/229/thumbs/xeti0fjbyzmcffue57vz5o1gl.gif"), team_path("8")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/223/thumbs/3079.gif"), team_path("9")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/235/thumbs/qhhir6fj8zp30f33s7sfb4yw0.gif"), team_path("10")) %>
	</td>

</tr>

<tr>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/230/thumbs/8xe4813lzybfhfl14axgzzqeq.gif"), team_path("11")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/224/thumbs/3083.gif"), team_path("12")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/236/thumbs/bvv028jd1hhr8ee8ii7a0fg4i.gif"), team_path("13")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/237/thumbs/uig7aiht8jnpl1szbi57zzlsh.gif"), team_path("14")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/231/thumbs/793.gif"), team_path("15")) %>
	</td>

</tr>

<tr>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/214/thumbs/burm5gh2wvjti3xhei5h16k8e.gif"), team_path("16")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/225/thumbs/22582752016.gif"), team_path("17")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/232/thumbs/zq8qkfni1g087f4245egc32po.gif"), team_path("18")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/4962/thumbs/496226812014.gif"), team_path("19")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/216/thumbs/2nn48xofg0hms8k326cqdmuis.gif"), team_path("20")) %>
	</td>

</tr>

<tr>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/2687/thumbs/khmovcnezy06c3nm05ccn0oj2.gif"), team_path("21")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/217/thumbs/wd9ic7qafgfb0yxs7tem7n5g4.gif"), team_path("22")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/218/thumbs/21870342016.gif"), team_path("23")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/238/thumbs/23843702014.gif"), team_path("24")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/239/thumbs/bahmh46cyy6eod2jez4g21buk.gif"), team_path("25")) %>
	</td>

</tr>

<tr>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/240/thumbs/832.gif"), team_path("26")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/233/thumbs/827.gif"), team_path("27")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/227/thumbs/22745782016.gif"), team_path("28")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/234/thumbs/m2leygieeoy40t46n1qqv0550.gif"), team_path("29")) %>
	</td>

	<td>
	<%=link_to(image_tag("http://content.sportslogos.net/logos/6/219/thumbs/21956712016.gif"), team_path("30")) %>
	</td>

</tr>

</div>

</table>
	


