<!DOCTYPE html>



<div class="main">
	<h1><%=@player.name%></h1>
	<p> Add New Player </p>
</div>

<div class="team-form">
<%= form_for (@player) do |t| %>

<div class="col-lg-4">

  <br><%= t.label :name %><br>
  <%= t.text_field :name %><br>

  <br><%= t.label :team %><br>
  <%= t.number_field :team_id %><br>

  <br><%= t.label :age %><br>
  <%= t.number_field :age %><br>

  <br><%= t.label :GP %><br>
  <%= t.number_field :gp %><br>

  <br><%= t.label :MPG %><br>
  <%= t.number_field :min %><br>

  <br><%= t.label :FGM %><br>
  <%= t.number_field :fgm %><br>

  <br><%= t.label :FGA %><br>
  <%= t.number_field :fga %><br>

  <br><%= t.label :FG_percent %><br>
  <%= t.number_field :fg_percent %><br>

  <br><%= t.label :Three_PM %><br>
  <%= t.number_field :three_pm %><br>

  <br><%= t.label :Three_PA %><br>
  <%= t.number_field :three_pa %><br>

  <br><%= t.label :Three_P_percent %><br>
  <%= t.number_field :three_p_percent %><br>

  <br><%= t.label :FTA %><br>
  <%= t.number_field :fta %><br>

</div>

<div class="col-lg-4">

  <br><%= t.label :FTM %><br>
  <%= t.number_field :ftm %><br>

  <br><%= t.label :FT_percent %><br>
  <%= t.number_field :ft_percent %><br>

  <br><%= t.label :Reb %><br>
  <%= t.number_field :reb %><br>

  <br><%= t.label :Ast %><br>
  <%= t.number_field :ast %><br>

  <br><%= t.label :Stl %><br>
  <%= t.number_field :stl %><br>

  <br><%= t.label :Blk %><br>
  <%= t.number_field :blk %><br>

  <br><%= t.label :PPG %><br>
  <%= t.number_field :pts %><br>

  <br><%= t.label :pts_thirty_six %><br>
  <%= t.number_field :pts_thirty_six %><br>

  <br><%= t.label :reb_thirty_six %><br>
  <%= t.number_field :reb_thirty_six %><br>

  <br><%= t.label :pps %><br>
  <%= t.number_field :pps %><br>

  <br><%= t.label :plus_minus %><br>
  <%= t.number_field :plus_minus %><br>

  <br><%= t.label :sal_2015 %><br>
  <%= t.number_field :sal_2015 %><br>

</div>
<div class="col-lg-4">

  <br><%= t.label :sal_2016 %><br>
  <%= t.number_field :sal_2016 %><br>

  <br><%= t.label :sal_2017 %><br>
  <%= t.number_field :sal_2017 %><br>

  <br><%= t.label :ts_percent %><br>
  <%= t.number_field :ts_percent %><br>

  <br><%= t.label :ast_ratio %><br>
  <%= t.number_field :ast_ratio %><br>

  <br><%= t.label :to_ratio %><br>
  <%= t.number_field :to_ratio %><br>

  <br><%= t.label :usage %><br>
  <%= t.number_field :usg %><br>

  <br><%= t.label :reb_rate %><br>
  <%= t.number_field :reb_rate %><br>

  <br><%= t.label :PER %><br>
  <%= t.number_field :per %><br>

  <br><%= t.label :VA %><br>
  <%= t.number_field :va %><br>

  <br><%= t.label :EWA %><br>
  <%= t.number_field :ewa %><br>


  <br><%= t.submit %><br>
</div>

<%end%>
</div>
